/* Structure */
body {
    background: #036800;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 95%;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
}

#main-header {
    background: rgb(96, 156, 5);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/* Main Navigation */

#main-nav ul {
    list-style-type: none; /* Remove Bullets */
    padding-left: 0;
}

#main-nav li {
    border-bottom: 1px solid white;
}

#main-nav li:first-child {
    border-top: 1px solid white;
}

#main-nav a {
    color: white;
    padding: 10px    0px;
    display: block;
    text-decoration: none; /* Remove Underlines */
}

#main-nav a:hover {
    background: white;
    color:#036800;
}

/* Typogoraphy (Font) */

h1 {
    text-align: center;
}


/* Larger Devices */
@media only screen and (min-width: 760px) {
    body {
        background: url(images/background1.jpg);
        background-size: cover;
    }

    #content {
        width: 70%;
    }
    /* Columns */
    .columns {
        display:flex;
    }
    /* Main Nav */
    #main-nav li {
        flex: 1px;
    }

    #main-nav li, #main-nav li:first-child {
        border: none;
    }

    #main-nav a {
        padding: 5px;
        text-align: center;
    }
    #main-nav a:hover {
        background:rgb(96, 156, 5);
        color: white;
        border-bottom: 1px solid white;
    }

}


/* Tables */

/* Images */
