:root {
    --primary-color: #036800;
}

/* Structure */
body {
    background: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 95%;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

#main-header {
    background: rgb(96, 156, 5);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

#main-header img {
    display: block; 
    position: absolute;
    top: 10px;
    left: 10px;
    width: 75px;
    border-radius: 50px;
}

/* Main Navigation */
nav ul{
    list-style-type: none; /* Remove Bullets */
    padding-left: 0;
}

nav a {
    text-decoration: none;
}

#main-nav li {
    border-bottom: 1px solid white;
}

#main-nav li:first-child {
    border-top: 1px solid white;
}

#main-nav a {
    color: white;
    padding: 10px    0px;
    display: block;
}

#main-nav a:hover {
    background: white;
    color:#036800;
}

#login-nav {
    position: absolute;
    top: 2.5%;
    right: 2.5%;

}

#login-nav a {
    color: white;
    padding: 5px;

}

#login-nav a:hover{
    border-bottom: 1px solid white;
}

#login-nav li:not(:last-child)::after {
    content: "|";
}



/* Showcase */
#showcase {
    position: relative;
}

#showcase p {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    width: fit-content;

    position: absolute;
    top: 300px; 
    left: 00px;
}



/* Typogoraphy (Font) */

h1 {
    text-align: center;
}


/* Larger Devices */
@media only screen and (min-width: 760px) {
    body {
        background: url(images/background1.jpg);
        background-size: cover;
    }

    #content {
        width: 70%;
    }
    /* Columns */
    .columns {
        display:flex;
    }
    /* Main Nav */
    #main-nav li {
        flex: 1px;
    }

    #main-nav li, #main-nav li:first-child {
        border: none;
    }

    #main-nav a {
        padding: 5px;
        text-align: center;
    }
    #main-nav a:hover {
        background:rgb(96, 156, 5);
        color: white;
        border-bottom: 1px solid white;
    }

    #login-nav li:not(:last-child)::after {
        content: "|";
    }

    .hide-small {
        display: block;
    }

}


/* Tables */

/* Images */
